<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/lock.css" rel="stylesheet" />
    <title>Login</title>
  </head>

  <body>
    <div class="lock"></div>
    <div class="message">
      <h1>Acesso não permitido</h1>
      <a href="/logout" class="text-center"
        ><span>Clique aqui para Sair</span></a
      >
    </div>
  </body>
</html>
