<!DOCTYPE html>
<html
  lang="pt"
  xmlns="http://www.w3.org/1999/xhtml"
  xmls:th="http://thymeleaf.org"
  xmls:layout="http://www.ultraq.net/thymeleaf/layout"
>
  <head>
    <title>Sucesso</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/mensagem.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div id="div-style">
        <i class="checkmark">✓</i>
      </div>
      <h1>Sucesso</h1>
      <p>
        Nós recebemos o seu pedido;<br />
        enviaremos um email de confirmação em breve!
      </p>
      <a class="py-2" href="/finalizar/logout">Voltar para a pagina Inicial</a>
    </div>
  </body>
</html>
