<!DOCTYPE html>
<html
  lang="pt"
  xmlns="http://www.w3.org/1999/xhtml"
  xmls:th="http://thymeleaf.org"
  xmls:layout="http://www.ultraq.net/thymeleaf/layout"
>
  <head>
    <title>Administrativo Siteware - Cadastrar Produto</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/image/favicon.png" />

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header th:replace="fragments/navbar :: header"></header>

    <div class="layout-main">
      <aside th:replace="fragments/navbar:: sidebar"></aside>
      <section class="layout-content">
        <div class="page-header">
          <nav class="navbar navbar-expand-md navbar-top bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <i class="oi oi-caret-right"></i>
                  <span>Cadastrar Produto</span>
                </li>
              </ul>
            </div>
            <a
              class="btn btn-primary btn-md"
              href="/admin/produtos/listar"
              role="button"
            >
              <span
                class="oi oi-spreadsheet"
                title="Cadastro"
                aria-hidden="true"
              ></span>
              <span>Listar Produtos</span>
            </a>
          </nav>
        </div>

        <div class="container" id="cadastro">
          <form
            action="/admin/produtos/salvar"
            th:object="${produto}"
            method="POST"
          >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nome">Nome do Produto</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  placeholder="Nome do Produto"
                  autofocus="autofocus"
                  th:field="*{nome}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="descricao">Descrição do Produto</label>
                <input
                  type="text"
                  class="form-control"
                  id="descricao"
                  th:field="*{descricao}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="categoria">Categoria</label>
                <input
                  type="text"
                  class="form-control"
                  id="categoria"
                  th:field="*{categoria}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="marca">Marca</label>
                <input
                  type="text"
                  class="form-control"
                  id="marca"
                  th:field="*{marca}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="preco">imagem</label>
                <input
                  type="text"
                  class="form-control"
                  id="imagem"
                  placeholder="url da imagem"
                  th:field="*{imagem}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="promocao">Promoção</label>
                <select
                  id="promocao"
                  class="form-control"
                  th:field="*{promocao}"
                >
                  <option value="">Selecione...</option>
                  <option value="1">Leve 2 e Pague 1</option>
                  <option value="2">3 por R$10,00</option>
                  <option value="3">Nenhuma Promoção</option>
                </select>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="preco">Preço</label>
                <input
                  type="text"
                  class="form-control"
                  data-mask="#.###,00"
                  data-mask-reverse="true"
                  id="preco"
                  th:field="*{preco}"
                  value=""
                />
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}" value="" />
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
          </form>
        </div>
      </section>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: script"></div>
  </body>
</html>
