<!DOCTYPE html>
<html
  lang="pt"
  xmlns="http://www.w3.org/1999/xhtml"
  xmls:th="http://thymeleaf.org"
  xmls:layout="http://www.ultraq.net/thymeleaf/layout"
>
  <head>
    <title>Administrativo Siteware - Lista de Produtos</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header th:replace="fragments/navbar :: header"></header>
    <div class="layout-main">
      <aside th:replace="fragments/navbar :: sidebar"></aside>
      <section class="layout-content">
        <nav class="navbar navbar-expand-md bg-light">
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <i class="oi oi-caret-right"></i>
                <span>Lista de Produtos</span>
              </li>
            </ul>
            <a
              class="btn btn-primary btn-md"
              href="/admin/produtos/cadastrar"
              role="button"
            >
              <span
                class="oi oi-plus"
                title="Cadastro"
                aria-hidden="true"
              ></span>
              <span>Cadastrar Produto</span>
            </a>
          </div>
        </nav>
        <div class="container">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Preço</th>
                  <th>Promoção</th>
                  <th>Imagem</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="produto : ${listaProdutos}">
                  <td th:text="${produto.id}"></td>
                  <td th:text="${produto.nome}"></td>
                  <td th:text="${produto.descricao}"></td>
                  <td>R$ <span th:text="${produto.preco}"></span></td>
                  <td th:if="${produto.promocao == 1}">Leve 2 e Pague 1</td>
                  <td th:if="${produto.promocao == 2}">3 por R$10,00</td>
                  <td th:if="${produto.promocao == 3}">Nenhuma Promoção</td>
                  <td>
                    <img
                      th:src="${produto.imagem}"
                      alt="Imagem do Produto"
                      width="100"
                    />
                  </td>
                  <td colspan="2">
                    <a
                      class="btn btn-info btn-sm"
                      th:href="@{/admin/produtos/editar/{id}(id=${produto.id})}"
                      role="button"
                    >
                      <span
                        class="oi oi-brush"
                        title="remover"
                        aria-hidden="true"
                      ></span>
                    </a>
                    <a
                      class="btn btn-info btn-sm"
                      data-toggle="modal"
                      data-target="#modal-warning"
                      th:attr="data-target='#modal-warning'+${produto.id }"
                    >
                      <span
                        class="oi oi-circle-x"
                        title="Editar"
                        aria-hidden="true"
                      ></span>
                    </a>
                    <div
                      class="modal modal-warning fade in"
                      th:id="modal-warning+${produto.id }"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="fechar"
                            >
                              <span aria-hidden="true">×</span>
                            </button>
                            <h5 class="modal-title">Remover Produto</h5>
                          </div>
                          <div class="modal-body">
                            <h3>Deseja realmente remover o Produto?</h3>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-outline pull-left"
                              data-dismiss="modal"
                            >
                              Fechar
                            </button>
                            <a
                              type="button"
                              class="btn btn-outline"
                              th:href="@{/admin/produtos/remover/{id}(id=${produto.id})}"
                              ><i class="fa fa-check"></i>&nbsp;Sim</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: script"></div>
  </body>
</html>
